.successBooking {
  width: 100%;
  height: 70vh;
  padding: 10rem 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.messageContent h1 {
  font-size: var(--font-s-lg);
  font-family: var(--font-markazi);
  color: var(--color-primary-1);
}

.messageContent h2 {
  font-size: var(--font-s-md);
  color: var(--color-primary-1);
  width: 75%;
  text-align: center;
}
.messageContent svg {
  font-size: 92px;
  color: var(--color-primary-1);
}
