.footer {
  width: 100%;
  background-color: var(--color-primary-1);
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 6rem 10vw;
  gap: 4rem;
}
.logoContainer {
  background-color: #ffffff99;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 8rem;
}

.navbar h2 {
  color: var(--color-gray);
  font-size: var(--font-s-md);
  border-bottom: 2px solid white;
  margin-bottom: 2rem;
}

.navbar li {
  color: var(--color-gray);
  font-size: var(--font-s-md);
}

.navbar a {
  color: var(--color-gray);
  font-size: var(--font-s-md);
}

.quickLink {
}
.quickLink a {
  transition: all 0.3s;
}

.quickLink a:hover {
  filter: brightness(150%);
  text-decoration: underline;
}
.contact {
}

.contact ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.contact li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.contact svg {
  font-size: 28px;
  color: var(--color-gray);
}
.socialMedia {
}

.socialMedia svg {
  font-size: 28px;
  color: var(--color-gray);
  margin: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.socialMedia svg:hover {
  filter: brightness(150%);
  border-bottom: 2px solid white;
}
