* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-karla);

  font-size: 62.5%;
  color: #333333;
}
body {
  line-height: 1.5;
}

:root {
  --color-primary-1: #495e57;
  --color-primary-2: #face14;
  --color-secondary-1: #ee9972;
  --color-secondary-2: #fbdabb;

  --color-gray: #edefee;
  --color-black: #333333;
  --color-white: #ffffff;

  --font-markazi: "Markazi Text", serif;
  --font-karla: "Karla", sans-serif;

  --font-s-sm: 1.6rem;
  --font-s-md: 1.8rem;
  --font-s-lg: 4rem;

  --border-r-sm: 0.8rem;
  --border-r-md: 1.2rem;
  --border-r-md: 1.6rem;
  --border-r-circle: 999px;

  --padding-section: 0 5vw;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-s-sm);
  font-weight: 600;
  padding: 1.5rem 1.5rem;
  height: 5.2rem;
  border: none;
  outline: none;
}

button:hover {
  filter: brightness(120%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
